{% extends 'web/themanager/base.html' %}
{% load custom_tags %}

{% block page_title %}{{ company.display_name }} | Change Password{% endblock %}

{% block body_class %}company change_password{% endblock %}

{% block bread_crumbs %}
    <a href="/{{ settings.SITE_URLS.company_prefix }}/{{ company.id }}" title="Go to your companies home page" class="tool_tip">home</a> &rarr;
    <a href="{{ request.full_path }}" title="Go to edit user page" class="tool_tip">change password</a>
{% endblock %}

{% block manager_page %}
    <div class="page_section">
        <div class="page_section_inner">
            <h3>{{ template_strings.change_password.h3 }}</h3>
            <h5>{{ template_strings.change_password.h5 }}</h5>
            {% include 'web/shared/errors.html' %}
            <form method="POST">
                {% csrf_token %}
                <div class="form_row">
                    <label>{{ template_strings.change_password.label_current_password }}</label>
                    <input type="password" name="current_password" value="" />
                </div>
                <div class="form_row">
                    <label>{{ template_strings.change_password.label_new_password_1}}</label>
                    <input type="password" name='new_password_1' value="" />
                </div>
                <div class="form_row">
                    <label>{{ template_strings.change_password.label_new_password_2 }}</label>
                    <input type="password" name="new_password_2" value="{{ subject_user.first_name }}" />
                </div>
                <div class="form_actions two_up">
                    {% if request.GET.next %}
                        <a href="{{ request.GET.next }}" class="button">{{ template_strings.change_password.form_action_cancel }}</a>
                    {% else %}
                        <a href="/{{ settings.SITE_URLS.company_prefix }}/{{ company.id }}" class="button">{{ template_strings.change_password.form_action_cancel }}</a>
                    {% endif %}
                    <input type="submit" value="{{ template_strings.change_password.form_action_save }}" class="button" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}