{% extends 'web/themanager/base.html' %}
{% load custom_tags %}

{% block page_title %}{{ company.display_name }} | Home {% endblock %}

{% block body_class %}company home{% endblock %}

{% block bread_crumbs %}
    <a href="/{{ settings.SITE_URLS.company_prefix }}/{{ company.id }}" title="Go to your companies home page" class="tool_tip">home</a>
{% endblock %}

{% block manager_page %}
    <div class="page_section">
        <div class="page_section_inner">
            <div class="clearfix fill_width">
                <div class="left two_thirds">
                    {% if user|is_company_admin:company %}
                        <h3>
                            {{ template_strings.company_home.title_projects }}
                            <a href="/{{ settings.SITE_URLS.company_prefix }}/{{ company.id }}/projects/new"
                               class="img_button right tool_tip add"
                               title='{{ template_strings.company_home.button_title_create_new_project }}'>
                                <span>
                                    Create a new project
                                </span>
                            </a>
                        </h3>
                    {% else %}
                        <h3>Your Projects</h3>
                    {% endif %}
                    <ul class="projects">
                        {% for project in projects %}
                            <li class="project corner project_on_company_home_page">
                                <h4>{{ project.display_name }} <span class="right">{{ project.created }}</span></h4>
                                <p>{{ project.description }}</p>
{#                                <div class="activity_graph">#}
{#                                    <img src="{{ STATIC_URL }}/images/themanager/mockup_activity_chart.png" />#}
{#                                </div>#}
                                <div class="actions">
                                    {% if user|is_company_admin:company %}
                                        <a href="/{{ settings.SITE_URLS.company_prefix }}/{{ company.id }}/projects/edit/{{ project.project_id }}">
                                            edit this project
                                        </a>
                                    {% endif %}
                                    <a href="/{{ settings.SITE_URLS.company_prefix }}/{{ company.id }}/projects/{{ project.project_id }}">
                                        view this project
                                    </a>
                                </div>
                            </li>
                        {% empty %}
                            <li class="empty">
                                <h4>Your company has no projects yet</h4>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="right one_third activity_container">
                    <div class="activity_container_inner">
                        <h3>Company Activity</h3>
                        <ul>
                            {% for activity_record in company_activity %}
                                <li class="{{ activity_record.css_class }}">{{ activity_record.date }} {{ activity_record.message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}