{% extends 'web/themanager/base.html' %}
{% load custom_tags %}

{% block page_title %}{{ company.display_name }} | Home {% endblock %}

{% block body_class %}company view_project{% endblock %}

{% block bread_crumbs %}
    <a href="/{{ settings.SITE_URLS.company_prefix }}/{{ company.id }}" title="Go to your companies home page" class="tool_tip">home</a> &rarr;
    <a href="{{ request.full_path }}" title="Go to this projects home page" class="tool_tip">view project</a>
{% endblock %}

{% block manager_page %}
    <div class="page_section">
        <div class="page_section_inner">
            <div class="clearfix fill_width">
				
				<h3>Proventia Apps</h3>
				
				<a href="/{{ settings.SITE_URLS.company_prefix }}/{{ company.id }}/projects/{{ project.project_id }}/dashboard">Old Dashboard</a>
            
				<div>
					<div style="float:left; text-align:center;">
						<a href="/dashboard/apps/map">
							<img src="/static/images/thedashboard/data_points/googlenews_medium.png" />
						</a>
						<br />
						<a href="/dashboard/apps/map">Map App</a>
					</div>
					
					<div style="float:left; text-align:center;">
						<a href="/dashboard/apps/map">
							<img src="/static/images/thedashboard/data_points/googlenews_medium.png" />
						</a>
						<br />
						<a href="/dashboard/apps/map">Feed App</a>
					</div>
					
					<div style="float:left; text-align:center;">
						<a href="/dashboard/apps/map">
							<img src="/static/images/thedashboard/data_points/googlenews_medium.png" />
						</a>
						<br />
						<a href="/dashboard/apps/map">Word Cloud App</a>
					</div>
					
				</div>
				<div style="clear:both;"></div>
            </div>
        </div>
    </div>
{% endblock %}