{% extends 'web/themanager/base.html' %}
{% load custom_tags %}

{% block page_title %}{{ company.display_name }} | Home {% endblock %}

{% block body_class %}company view_project{% endblock %}

{% block bread_crumbs %}
    <a href="/{{ settings.SITE_URLS.company_prefix }}/{{ company.id }}" title="Go to your companies home page" class="tool_tip">home</a> &rarr;
    <a href="{{ request.full_path }}" title="Go to this projects home page" class="tool_tip">view project</a>
{% endblock %}

{% block manager_page %}
    <div class="page_section">
        <div class="page_section_inner">
            <div class="clearfix fill_width">
                <div class="left two_thirds">
                    <h3>{{ project.display_name }}</h3>
                    <h5>{{ project.description }}</h5>
                    <div class="members">
                        <h4>{{ template_strings.view_project.members_header }}</h4>
                        <ul>
                            {% for m in project_members %}
                                <li class="member">
                                    {{ m.username }}
                                </li>
                            {% empty %}
                                <li class="empty">
                                    {{ template_strings.view_project.members_this_project_has_none }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="insights">
                        <h4>
                            {{ template_strings.view_project.insights_header }}
                            <a href="/{{ settings.SITE_URLS.company_prefix }}/{{ company.id }}/projects/{{ project.project_id }}/dashboard"
                               class="img_button right add tool_tip"
                               title='Click here to create a new insight'>
                                <span>
                                    {{ template_strings.view_project.insights_create_button }}
                                </span>
                            </a>
                        </h4>
                        <ul class="clearfix fill_width">
                            {% for insight in project_insights %}
                                <li class="insight clearfix corner">
                                    <div class="insight_image_container">
                                        {% include 'web/themanager/shared/insight_image_shrink.html' with width=200 height=120 insight=insight  %}
                                    </div>
                                    <p class="insight_owner">Created by: {{ insight.username }}</p>
                                    <p class="insight_name">{{ insight.name }}</p>
                                    <p class="insight_description">{{ insight.config.description }}</p>
                                    <p class="insight_last_saved">Last Used: {{ insight.last_saved_pretty }}</p>
                                    <div class="actions">
                                        <a href="/{{ settings.SITE_URLS.company_prefix }}/{{ company.id }}/projects/{{ project.project_id }}/dashboard/{{ insight.id }}">
                                            {% if insight.username == user.username %}
                                                {{ template_strings.view_project.insights_edit_button }}
                                            {% else %}
                                                {{ template_strings.view_project.insights_remix_button }}
                                            {% endif %}
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="right one_third activity_container">
                    <div class="activity_container_inner">
                        <h3>{{ template_strings.view_project.heading_project_activity }}</h3>
                        <ul>
                            {% for activity_record in project_activity %}
                                <li class="{{ activity_record.css_class }}">{{ activity_record.date }} {{ activity_record.message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}