{% extends 'web/base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}themes/admin/{{ theme }}/style.css"/>
{% endblock %}

{% block header_menu %}
    {% include 'web/admin/shared/header_menu.html' %}
{% endblock %}

{% block page %}
    <div class="page_section admin_header">
        <div class="page_section_inner">
            <h2>MetaLayer Admin</h2>
            <p>You are here: {% block bread_crumbs %}{% endblock %}</p>
        </div>
    </div>
    {% block admin_page %}{% endblock %}
{% endblock %}
