{% extends 'web/admin/base.html' %}
{% load custom_tags %}

{% block page_title %}Admin | Company{% endblock %}

{% block body_class %}admin edit_company{% endblock %}

{% block bread_crumbs %}
    <a href="/admin/" title="Go to the admin home page" class="tool_tip">home</a> &rarr;
    <a href="/admin/" title="Go to the companies page" class="tool_tip">companies</a> &rarr;
    <a href="{{ request.full_path }}" title="Go to the edit company page" class="tool_tip">edit company{{ company.diaplay_name }}</a>
{% endblock %}

{% block admin_page %}
    <div class="page_section">
        <div class="page_section_inner">
            <h3>Edit this company</h3>
            {% include 'web/shared/errors.html' %}
            <form method="POST">
                {% csrf_token %}
                <div class="form_section company_details">
                    <h5>Basic Company Details</h5>
                    <div class="form_row">
                        <label>Company Name</label>
                        <input type="text" name="display_name" value="{{ company.display_name }}" />
                    </div>
                </div>
                <div class="form_section users">
                    <h5 class="users">Users Associated With This Company</h5>
                    <div class="form_row checkbox_list">
                        <label>
                            Company Administrators
                            <a href="/admin/users/new?next={{ request.get_full_path }}"
                               class="add_small right img_button tool_tip"
                               title='Click to add a new administrator to this company'>
                                <span>
                                    Add a new user
                                </span>
                            </a>
                        </label>
                        {% for u in users %}
                            <div class="checkbox_list_item">
                                <input type="checkbox"
                                       name="administrators"
                                       value="{{ u.id }}"
                                       {% if u.id|is_in:company.administrators %}checked="checked"{% endif %}/>
                                {{ u.email }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form_section database">
                    <h5>Database and Search Engine Configuration</h5>
                    <div class="form_row">
                        <label>Solr Configuration</label>
                        <select name="solr_configuration">
                            <option value="system">Use System Configured</option>
                        </select>
                    </div>
                    <div class="form_row">
                        <label>Mongo Configuration</label>
                        <select name="mongo_configuration">
                            <option value="system">Use System Configured</option>
                        </select>
                    </div>
                </div>
                <div class="form_section configuration">
                    <h5>Widgets Available to this Company</h5>
                    <div class="form_row checkbox_list">
                        <label>Data Points</label>
                        {% for d in data_points %}
                            <div class="checkbox_list_item">
                                <input type="checkbox"
                                       name="data_points_available"
                                       value="{{ d.type }}"
                                       {% if d.type|is_in:company.data_points_available %}checked="checked"{% endif %}/>
                                <img src='{{ d.image_small }}' />
                                {{ d.full_display_name }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form_row checkbox_list">
                        <label>Actions</label>
                        {% for a in actions %}
                            <div class="checkbox_list_item">
                                <input type="checkbox"
                                       name="actions_available"
                                       value="{{ a.name }}"
                                       {% if a.name|is_in:company.actions_available %}checked="checked"{% endif %}/>
                                <img src='{{ a.image_small }}' />
                                {{ a.display_name_short }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form_row checkbox_list">
                        <label>Outputs</label>
                        {% for o in outputs %}
                            <div class="checkbox_list_item">
                                <input type="checkbox"
                                       name="outputs_available"
                                       value="{{ o.name }}"
                                       {% if o.name|is_in:company.outputs_available %}checked="checked"{% endif %}/>
                                <img src='{{ o.image_small }}' />
                                {{ o.display_name_short }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form_row checkbox_list">
                        <label>Visualizations</label>
                        {% for v in visualizations %}
                            <div class="checkbox_list_item">
                                <input type="checkbox"
                                       name="visualizations_available"
                                       value="{{ v.name }}"
                                       {% if v.name|is_in:company.visualizations_available %}checked="checked"{% endif %}/>
                                <img src='{{ v.image_small }}' />
                                {{ v.display_name_short }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form_actions two_up">
                    <a href="/admin/" class="button">Cancel</a>
                    <input type="submit" value="Save" class="button" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}