{% extends 'web/admin/base.html' %}

{% block page_title %}Admin | Home {% endblock %}

{% block body_class %}admin home{% endblock %}

{% block header_menu %}
    {% include 'web/admin/shared/header_menu.html' %}
{% endblock %}

{% block bread_crumbs %}<a href="/admin/" title="Go to the admin home page" class="tool_tip">home</a>{% endblock %}

{% block admin_page %}
    <div class="page_section">
        <div class="page_section_inner">
            <div class="inner_section companies">
                <h3>
                    Companies
                    <a href="/admin/companies/new"
                       class="tool_tip right add img_button"
                       title='Add a new company'>
                        <span>
                            Create a new company
                        </span>
                    </a>
                </h3>
                <h5>Companies Currently running on this deployment</h5>
                <div class="table_height_limiter">
                    <table>
                        {% for company in companies %}
                            <tr>
                                <td>{{ company.display_name }}</td>
                                <td class="actions">
                                    <a href="/{{ settings.SITE_URLS.company_prefix }}/{{ company.id }}"
                                       class="site tool_tip img_button"
                                       title='View this companies site'>
                                        <span>
                                            View Site
                                        </span>
                                    </a>
                                    <a href="/admin/companies/{{ company.id }}"
                                       class="edit tool_tip img_button"
                                       title="Edit this company">
                                        <span>
                                            Edit
                                        </span>
                                    </a>
                                    <a href="/admin/companies/{{ company.id }}/delete"
                                       class="delete tool_tip img_button"
                                       title="Delete this company">
                                        <span>
                                            Delete
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2">
                                    <div class="alert">
                                        <p>There are currently no companies running on this deployment</p>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}