{% extends 'web/admin/base.html' %}
{% load custom_tags %}

{% block page_title %}Admin | User{% endblock %}

{% block body_class %}admin user{% endblock %}

{% block bread_crumbs %}
    <a href="/admin/" title="Go to the admin home page" class="tool_tip">home</a> &rarr;
    <a href="/admin/" title="Go to the users page" class="tool_tip">users</a> &rarr;
    <a href="{{ request.full_path }}" title="Add a new user page" class="tool_tip">add a new user</a>
{% endblock %}


{% block admin_page %}
    <div class="page_section">
        <div class="page_section_inner">
            <h3>Add A New User</h3>
            {% include 'web/shared/errors.html' %}
            <form method="POST">
                {% csrf_token %}
                <div class="form_row">
                    <label>Users Email Address</label>
                    <input type="text" name="email" value="{{ user.email }}" />
                </div>
                <div class="form_row">
                    <label>Users Password</label>
                    <input type="text" name='password' value="" />
                </div>
                <div class="form_actions two_up">
                    <a href="{% if 'next'|is_in:request.GET %}{{ request.GET.next }}{% else %}/admin{% endif %}" class="button">Cancel</a>
					<input type="hidden" name="company" value="{{ company }}">
                    <input type="submit" value="Save" class="button" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}